PORT=4050
MONGO_URI=xxxxxxxx
JWT_SECRET=xxxxxx
JWT_EXPIRES_IN=xxxx

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=123456
SUPER_ADMIN_DOB=01/01/1001
SUPER_ADMIN_FIRSTNAME=prime
SUPER_ADMIN_LASTNAME=admin
